#map{
  display: flex;
  flex-direction: row-reverse;
  height: 400px;
  width: 1400px;
}
.leaflet-container{
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: row;
}

.div-Info{
  height: 500px;
  width: 500px;
  background-color: #cfcfcf;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.Info{
  background-color: white;
  border-top: #ce0033 solid 10px;
  height: 400px;
  width: 450px;
  text-align: center;
  
}



#root{
  height: 500px;
  width: 600px;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:200,300,400,500,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons&display=swap);
/*!
 * Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-universal-access:before {
  content: "\F29A";
}

/*!
 * Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

/*!
 * Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

/*!
 * Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

.fa {
  font-family: Font awesome\5 Free;
}
.fa {
  font-weight: 900;
}

/*!
 * Bootstrap v4.6.0 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  width: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
footer,
header,
main,
nav,
section {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}
h1,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
}
p {
  margin-bottom: 1rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
img {
  border-style: none;
}
img {
  vertical-align: middle;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
[type="button"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
h1,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 2.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
.img-fluid,
.smp_footer_front .footer-logo {
  max-width: 100%;
  height: auto;
}

.box-networks{
    display: flex;
    justify-content: flex-end;
}



.container,
.site-map-content,
.smp_footer_front,
.smp_footer_front .footer-logo-text,
body #appp main,
html #appp main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container,
  .site-map-content {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .site-map-content {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .site-map-content {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .site-map-content {
    max-width: 1140px;
  }
}
.smp_header_front .navbar-top-left,
.smp_header_front .navbar-top-right {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.smp_header_front .navbar-top-left,
.smp_header_front .navbar-top-right {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn:disabled {
  opacity: 0.65;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:focus,
.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}
.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}
.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:focus,
.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.btn-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.btn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.collapse:not(.show) {
  display: none;
}
.dropdown {
  position: relative;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #e9ecef;
}
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}
.dropdown-item:disabled {
  color: #adb5bd;
  pointer-events: none;
  background-color: transparent;
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label:before {
  border-color: #80bdff;
}
.custom-control-input:not(:disabled):active ~ .custom-control-label:before {
  color: #fff;
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}
.navbar {
  position: relative;
  padding: 0.5rem 1rem;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.close:hover {
  color: #000;
  text-decoration: none;
}
.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 0.75;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translateY(-50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.modal-footer > * {
  margin: 0.25rem;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
.align-middle {
  vertical-align: middle !important;
}
.bg-white {
  background-color: #fff !important;
}
body #appp main,
html #appp main {
  display: flex !important;
}
body #appp main,
html #appp main {
  flex-direction: column !important;
}
body #appp main,
html #appp main {
  flex-grow: 1 !important;
}
.smp_header_front .navbar-top-right {
  align-items: baseline !important;
}
.p-0,
body #appp main,
html #appp main {
  padding: 0 !important;
}
@media print {
  *,
  :after,
  :before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  @page {
    size: a3;
  }
  .container,
  .site-map-content,
  body {
    min-width: 992px !important;
  }
  .navbar {
    display: none;
  }
}
.smp_header_front {
  /*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
  position: relative;
  z-index: 5000;
  border-left: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}
.smp_header_front .hamburger {
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.smp_header_front .hamburger:hover {
  opacity: 0.7;
}
.smp_header_front .hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.smp_header_front .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.smp_header_front .hamburger-inner,
.smp_header_front .hamburger-inner:after,
.smp_header_front .hamburger-inner:before {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.smp_header_front .hamburger-inner:after,
.smp_header_front .hamburger-inner:before {
  content: "";
  display: block;
}
.smp_header_front .hamburger-inner:before {
  top: -10px;
}
.smp_header_front .hamburger-inner:after {
  bottom: -10px;
}
.smp_header_front .hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.smp_header_front .hamburger--spin .hamburger-inner:before {
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}
.smp_header_front .hamburger--spin .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.smp_header_front .smp-logo-mobile .img-fluid {
  width: 150px;
  transition: opacity 0.5s ease;
}
.smp_header_front a {
  font-weight: 700;
}
.smp_header_front a:focus,
.smp_header_front a:hover {
  text-decoration: none;
}
.smp_header_front .navbar {
  padding: 0;
  flex-direction: column;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar {
    flex-wrap: nowrap;
  }
}
.smp_header_front .menu_a11y {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .smp_header_front .menu_a11y {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .smp_header_front .collapse:not(.show) {
    display: block;
  }
}
.smp_header_front .navbar-top-mobile {
  display: none;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-top-mobile {
    display: flex;
    position: fixed;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 5000;
    background-color: #fff;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    width: 100vw;
    max-width: 100%;
  }
  .smp_header_front .navbar-top-mobile .hamburger:focus {
    outline: none;
  }
}
.smp_header_front .navbar-content {
  width: 100%;
  max-width: 100vw;
}
.smp_header_front .navbar-content .a11y-btn {
  position: absolute;
  left: 10px;
  top: 43%;
  background-color: transparent;
  border: none;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-content .a11y-btn {
    display: none;
  }
}
.smp_header_front .navbar-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-size: 12px;
}
@media (min-width: 992px) {
  .smp_header_front .navbar-top {
    padding-bottom: 8px;
  }
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-top {
    display: block;
    margin: 0;
    order: 2;
    flex-direction: column;
    font-size: 18px;
  }
}
.smp_header_front .navbar-top a:not(.lang-link) {
  color: #57575c;
  transition: color 0.5s ease;
  text-decoration: none !important;
}
.smp_header_front .navbar-top a:not(.lang-link):focus,
.smp_header_front .navbar-top a:not(.lang-link):hover {
  color: #ce0033;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-top a:not(.lang-link) {
    display: block;
    color: #000;
  }
}
.smp_header_front .navbar-top a:not(.lang-link):active,
.smp_header_front .navbar-top a:not(.lang-link):focus,
.smp_header_front .navbar-top a:not(.lang-link):hover {
  text-decoration: none !important;
}
.smp_header_front .navbar-top:after {
  content: " ";
  height: 1px;
  width: 100%;
  background-color: #f1f5f8;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-top:after {
    display: none;
  }
}
.smp_header_front .navbar-top .nav-link {
  padding: 20px 20px 0 0;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-top .nav-link {
    color: #000;
    padding: 10px 20px;
  }
  .smp_header_front .navbar-top .nav-link:focus,
  .smp_header_front .navbar-top .nav-link:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
.smp_header_front .navbar-top-left {
  padding-left: 42px;
  font-size: 12px;
  color: #818a92;
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-top-left {
    padding: 0;
  }
}
.smp_header_front .navbar-top-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 42px;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-top-right {
    flex-direction: column;
    padding: 0;
  }
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-top-right .navigation_a11y {
    display: block;
    width: 100%;
  }
}
.smp_header_front .navbar-logo {
  width: 200px;
}
.smp_header_front .navbar-logo .img-fluid {
  max-width: 220px;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-logo {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .smp_header_front .menu-drop-down-items {
    width: 100%;
  }
}
.smp_header_front .navbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 10px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-bottom {
    display: block;
    order: 1;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
}
.smp_header_front .navbar-bottom .menu_a11y {
  flex-wrap: wrap;
  align-items: flex-end;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-bottom .menu_a11y {
    width: 100%;
    align-items: flex-start;
  }
}
.smp_header_front .navbar-bottom .nav-item {
  padding-top: 0;
  padding-bottom: 0;
  margin: 10px 0 0;
  font-size: 14px;
  font-family: Nunito Sans, sans-serif;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-bottom .nav-item {
    border: none;
    color: #ce0033;
    padding: 0 20px 40px;
  }
  .smp_header_front .navbar-bottom .nav-item:last-child {
    padding: 0 20px 34px;
  }
}
.smp_header_front .navbar-bottom .nav-item a {
  font-weight: 900;
}
.smp_header_front .navbar-bottom .nav-item a:not(.dropdown-item) {
  transition: color 0.5s ease;
  text-transform: uppercase;
  font-weight: 900;
}
.smp_header_front .navbar-bottom .nav-item a:not(.dropdown-item):active,
.smp_header_front .navbar-bottom .nav-item a:not(.dropdown-item):focus,
.smp_header_front .navbar-bottom .nav-item a:not(.dropdown-item):hover {
  text-decoration: none;
  color: #ce0033;
}
@media (min-width: 992px) {
  .smp_header_front .navbar-bottom .nav-item a:not(.dropdown-item) {
    color: #000;
  }
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-bottom .nav-item a:not(.dropdown-item) {
    color: #ce0033;
  }
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-bottom .nav-item:first-child {
    border: none;
  }
}
.smp_header_front .navbar-bottom .nav-item:last-child {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-bottom .nav-item:last-child {
    border: none;
  }
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-bottom .single-link {
    color: #ce0033;
    font-size: 18px;
    font-weight: 700;
  }
  .smp_header_front .navbar-bottom .single-link:focus,
  .smp_header_front .navbar-bottom .single-link:hover {
    color: #000;
  }
}
.smp_header_front .navbar-bottom .dropdown-toggle {
  display: block;
  color: #000;
  transition: color 0.5s ease;
  width: 100%;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-bottom .dropdown-toggle {
    color: #ce0033;
    font-size: 18px;
    font-weight: 700;
  }
  .smp_header_front .navbar-bottom .dropdown-toggle:focus,
  .smp_header_front .navbar-bottom .dropdown-toggle:hover {
    color: #000;
  }
}
.smp_header_front .navbar-bottom .dropdown-toggle:after {
  font-family: Material Icons;
  content: "keyboard_arrow_down";
  text-transform: none;
  line-height: 1;
  font-size: 25px;
  vertical-align: -6px;
  border: none;
  transition: transform 0.5s ease;
}
.smp_header_front .navbar-bottom .dropdown-item {
  max-width: 100%;
  padding-top: 15px;
  background-color: #fff;
  transition: text-shadow 0.5s ease;
}
@media (max-width: 991.98px) {
  .smp_header_front .navbar-bottom .dropdown-item {
    font-size: 14px;
    color: #000;
    padding: 15px 0;
  }
}
@media (min-width: 992px) {
  .smp_header_front .navbar-bottom .dropdown-item:after {
    content: " ";
    display: block;
    height: 14px;
  }
}
.smp_header_front .navbar-bottom .dropdown-item:last-child {
  padding-bottom: 15px;
}
.smp_header_front .navbar-bottom .dropdown-item:last-child:after {
  display: none;
}
.smp_header_front .navbar-bottom .dropdown-item:focus,
.smp_header_front .navbar-bottom .dropdown-item:hover {
  text-shadow: 0 0 1px #000;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
.smp_header_front .navbar-bottom .dropdown-menu {
  font-size: 14px;
  border-radius: 0;
  border: none;
}
@media (min-width: 992px) {
  .smp_header_front .navbar-bottom .dropdown-menu {
    display: block;
    min-width: 240px;
    padding: 0;
    top: calc(100% + 20px);
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
  }
}

@media (max-width: 992px) {
  #main > div.responsive-content.page-daccueil > section > div > img{
    display: none;
  }
}

@media (max-width: 991.98px) {
  .smp_header_front .navbar-bottom .dropdown-menu {
    position: static;
    padding: 0;
    margin: 10px 0 0;
    border: none;
    width: 100%;
  }
}
.smp_footer_front {
  padding: 0;
  color: #fff;
  font-size: 20px;
}
.smp_footer_front nav:after {
  content: " ";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #57575c;
}
@media (max-width: 991.98px) {
  .smp_footer_front nav:after {
    display: none;
  }
}
.smp_footer_front .nav-link {
  padding: 0;
}
.smp_footer_front .nav-link:last-child a {
  border-right: 0;
  margin: 0;
}

#navbarSupportedContent > div.navbar-bottom > nav > ul > li.align-middle.nav-item.nav-link.dropdown > a {
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .smp_footer_front .nav-link:last-child a {
    border: none;
  }
}
.smp_footer_front .menu_a11y {
  display: flex;
  justify-content: center;
  padding: 14px 43px;
  flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .smp_footer_front .menu_a11y {
    padding: 0;
    justify-content: flex-start;
    flex-direction: column;
  }
}
.smp_footer_front .menu_a11y a {
  position: relative;
  color: #fff;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  font-weight: 300;
  border-right: 3px solid #fff;
  transition: color 0.5s ease;
  font-size: 16px;
}
@media (max-width: 991.98px) {
  .smp_footer_front .menu_a11y a {
    display: block;
    padding: 15px 0 15px 32px;
    margin: 0;
    border-right: none;
  }
}
@media (max-width: 991.98px) {
  .smp_footer_front .menu_a11y a:before {
    display: block;
    position: absolute;
    left: 0;
    top: 12px;
    content: "keyboard_arrow_right";
    font-family: Material Icons;
    line-height: 1;
    color: #ce0033;
    font-size: 30px;
    transition: transform 0.5s ease;
  }
}
.smp_footer_front .menu_a11y a:focus,
.smp_footer_front .menu_a11y a:hover {
  color: #fff;
  text-decoration: underline;
}
.smp_footer_front .menu_a11y a:focus:before,
.smp_footer_front .menu_a11y a:hover:before {
  transform: translateX(5px);
}
.smp_footer_front .footer-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #ce0033;
  padding: 0;
  margin-top: 30px;
}
.smp_footer_front .footer-logo-text nav {
  width: 100%;
}
.smp_footer_front .footer-logo {
  max-width: 300px;
  margin: 50px auto;
}
.smp_footer_front .container {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 991.98px) {
  .smp_footer_front,
  .smp_footer_front .container {
    background: #fff;
    font-size: 22px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15px;
  }
}
@media (max-width: 767.98px) {
  .smp_footer_front {
    padding: 0;
  }
}
body .btn {
  padding: 10px 20px;
  min-width: 135px;
  border-radius: 2px;
}
body .btn {
  color: #212529;
  background-color: #fff;
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  background-color: #ce0033;
  border-color: #ce0033;
}
body .btn:hover {
  background-color: #a4082f;
  border-color: #a4082f;
}
body .btn:focus {
  color: #fff;
  background-color: #a4082f;
  border-color: #a4082f;
  box-shadow: 0 0 0 0.2rem rgba(180, 6, 50, 0.5);
}
body .btn:disabled {
  color: #212529;
  background-color: #fff;
  border-color: #ce0033;
}
body .btn.btn-primary:not(:disabled):not(.disabled).active,
body .btn.btn-primary:not(:disabled):not(.disabled):active,
body .btn:not(:disabled):not(.disabled).active,
body .btn:not(:disabled):not(.disabled):active {
  border-color: #ce0033;
}
body .btn.btn-primary:not(:disabled):not(.disabled).active:focus,
body .btn.btn-primary:not(:disabled):not(.disabled):active:focus,
body .btn:not(:disabled):not(.disabled).active:focus,
body .btn:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(180, 6, 50, 0.5);
}
body .btn:hover {
  color: #ce0033;
  background-color: #ce0033;
  border-color: #fff;
}
body .btn:focus {
  box-shadow: 0 0 0 0.2rem hsla(0, 0%, 100%, 0.5);
}
body .btn:disabled {
  color: #fff;
  background-color: transparent;
}
body .btn.btn-primary:not(:disabled):not(.disabled).active,
body .btn.btn-primary:not(:disabled):not(.disabled):active,
body .btn:not(:disabled):not(.disabled).active,
body .btn:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #ce0033;
  border-color: #fff;
}
body .btn.btn-primary:not(:disabled):not(.disabled).active:focus,
body .btn.btn-primary:not(:disabled):not(.disabled):active:focus,
body .btn:not(:disabled):not(.disabled).active:focus,
body .btn:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem hsla(0, 0%, 100%, 0.5);
}
body .btn:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #a4082f;
  opacity: 0;
}
body .btn:hover {
  cursor: pointer;
  color: #fff;
}
body .btn:hover:before {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
  animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
body .btn:active,
body .btn:active:focus,
body .btn:focus {
  border-color: #ce0033;
  box-shadow: none;
}
body .btn:active:before,
body .btn:active:focus:before,
body .btn:focus:before {
  background-color: #a4082f;
  color: #fff;
}
body .btn span {
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
}
.site-map-content a {
  color: #ce0033;
  text-decoration: underline;
  font-weight: 700;
  font-weight: "Nunito Sans", sans-serif;
}
.site-map-content h6 {
  font-family: Nunito Sans, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.site-map-content h6 {
  margin: 0 0 1rem;
}
.site-map-content ul:not(:first-child):not(:last-child) {
  margin: 0 0 23px;
}
.site-map-content ul li {
  font-weight: 400;
  list-style: none;
  margin: 0 0 3px;
}
.site-map-content ul li:last-child {
  margin: 0;
}
.site-map-content ul li:before {
  content: "\F111";
  display: inline-block;
  font-family: Font awesome\5 Free;
  color: #ce0033;
  font-size: 0.6em;
  margin-top: 0.6em;
  margin-right: 1em;
  font-weight: 700;
}
.modal {
  z-index: 8010 !important;
}

/*! orejime v1.2.3 - BSD-3-Clause license, original work Copyright (c) 2018 DPKit, modified work Copyright (c) 2019 Empreinte Digitale, all rights reserved. */
body {
  font-family: Nunito Sans, sans-serif;
}
body p {
  margin: 0;
}
body a {
  color: #000;
  transition: color 0.5s ease;
}
body a:hover {
  color: #ce0033;
}
body a:active,
body a:focus {
  color: #a4082f;
}
body ul {
  padding: 0;
  margin: 0;
}
body a:focus:not(.focus-visible),
body button:focus:not(.focus-visible) {
  outline: none !important;
}
@-moz-document url-prefix() {
  body img:-moz-loading {
    visibility: hidden;
  }
}
.header {
  position: relative;
}
@media (max-width: 991.98px) {
  .header {
    margin: 0 0 30px;
  }
}
.header h1 {
  font-size: 52px;
  font-weight: 900;
  line-height: 65px;
}
@media (max-width: 767.98px) {
  .header h1 {
    display: inline-block;
    font-size: 32px;
    line-height: 1;
    padding: 10px;
  }
}
.header .header-home-bg {
  height: 100%;
  float: right;
}
@media (max-width: 767.98px) {
  .header .header-home-bg {
    display: none;
  }
}
.header .header-home-titles {
  color: #fff;
}
@media (max-width: 991.98px) {
  .header .header-home-titles {
    padding-left: 0;
    max-width: calc(100vw - 80px);
  }
}
@media (max-width: 767.98px) {
  .header .header-home-titles {
    top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header .header-home-btn {
  color: #ce0033;
  background-color: #fff;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 40px;
  min-height: 47px;
  line-height: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.header .header-home-btn span {
  font-weight: 900;
}
.header .header-home-subtitle {
  position: absolute;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  top: 0;
  left: 0;
  height: 100%;
  padding: 62px 117px 46px;
  background: #ce0033;
  width: 71%;
}
@media (max-width: 767.98px) {
  .header .header-home-subtitle {
    position: relative;
  }
}
@media (min-width: 1200px) {
  .header .header-home-subtitle {
    padding-left: 7%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header .header-home-subtitle {
    padding: 7% 35px 46px;
  }
}
@media (max-width: 991.98px) {
  .header .header-home-subtitle {
    transform: none;
    font-size: 12px;
    padding: 10px;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1600px) and (max-width: 1699px) {
  .header .header-home-subtitle {
    padding-left: 16%;
  }
}
@media (min-width: 1700px) and (max-width: 1799px) {
  .header .header-home-subtitle {
    padding-left: 18%;
  }
}
@media (min-width: 1800px) and (max-width: 1899px) {
  .header .header-home-subtitle {
    padding-left: 20%;
  }
}
@media (min-width: 1900px) and (max-width: 1999px) {
  .header .header-home-subtitle {
    padding-left: 20.5%;
  }
}
@media (min-width: 2000px) {
  .header .header-home-subtitle .container {
    width: 60%;
    float: right;
  }
}
.header-home {
  height: 500px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .header-home {
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .header-home-btn {
    margin: 0 auto !important;
    padding: 10px;
    width: 100%;
  }
}
.header-home-btn:hover {
  background-color: #fff !important;
}
@media (max-width: 767.98px) {
  .header-home-titles {
    margin-left: 32px;
    text-align: center;
  }
}
.header-home-subtitle p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 767.98px) {
  .header-home-subtitle p {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .site-map-content {
    padding-left: 20px !important;
  }
}
@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container,
.site-map-content {
  padding: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}
body,
body #appp,
html,
html #appp {
  height: 100%;
}
body #appp main,
html #appp main {
  overflow: hidden;
}
@media (max-width: 991.98px) {
  body #appp main,
  html #appp main {
    margin: 61px auto 0;
  }
}
body #scroll_to_top,
html #scroll_to_top {
  position: fixed;
  width: 35px;
  height: 35px;
  bottom: 50px;
  right: 50px;
  display: none;
  z-index: 100;
}
@media (max-width: 767.98px) {
  body #scroll_to_top,
  html #scroll_to_top {
    right: 0;
  }
}
body #scroll_to_top:active,
body #scroll_to_top:focus,
body #scroll_to_top:hover,
html #scroll_to_top:active,
html #scroll_to_top:focus,
html #scroll_to_top:hover {
  cursor: pointer;
}
.smp-newsletter-faq-footer {
  margin-top: 3rem;
}

h2{
  text-align: center;
  
}

